.wrapper {
  display: flex;
}

@media screen and (min-width: 750px) {
  .left {
    width: 200px;
    height: 300px;
    background: green;
  }
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  /* Styles */
  .left {
    width: 200px;
    height: 300px;
    background: gray;
  }
}

.middle {
  width: 100%;
  background: red;
  /* margin: 0 20px; */
  margin: 0px 20px 0px 20px;
}

.right {
  width: 200px;
  height: 300px;
  background: yellow;
}
