.left {
  width: 200px;
  height: 600px;
  background: yellow;
  float: left;
  text-align: center;
  line-height: 600px;
  color: #fff;
}

.right {
  width: 150px;
  height: 600px;
  background-color: green;
  float: right;
  text-align: center;
  line-height: 600px;
}

.middle {
  height: 300px;
  background: red;
  margin-left: 200px;
  margin-right: 150px;
}
