section p {
  color: blue;
}

section > p {
  background-color: yellow;
}

h2 + p {
  text-transform: uppercase;
}

h2 ~ p {
  border: 1px dashed black;
}

[href^=http]::after {
  content: '⤴';
}

p {
  /* line-height: 1.5; */
}


